@model IEnumerable<SongSync.Models.Account>
@{
    var accounts = Model.Where(m => m.Name != "").Select(n => n.Name).Distinct();
    Layout = null;
}
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#all" aria-controls="all" role="tab" data-toggle="tab">Matchs</a>
        </li>
        @foreach (var account in accounts)
        {
            <li role="presentation" class="">
                <a href="#@account" aria-controls="@account" role="tab" data-toggle="tab">@account</a>
            </li>
        }
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="all">
            ...
        </div>
        @foreach (var account in accounts)
        {
            <div role="tabpanel" class="tab-pane" id="@account">
                <div class="result">
                    <div class="artist col-md-6">
                        <b>
                            Artist
                        </b>

                    </div>
                    <div class="album col-md-3">
                        <b>
                            Album
                        </b>
                    </div>
                    <div class="control col-md-3">

                    </div>
                </div>
                @{
                    var results = Model.Where(n => n.Name == account).FirstOrDefault();
                    if (results.Results != null)
                    {
                        foreach (var result in results.Results)
                        {

                            <div>
                                <div class="result">
                                    <div class="artist col-md-6">
                                        @result.Name
                                    </div>
                                    <div class="album col-md-3">
                                        @result.AlbumName
                                    </div>
                                    <div class="control col-md-3">
                                        <a class="" onclick="play('@result.Url')">
                                            <i class="fa fa-play-circle-o fa-2x">&nbsp;</i>
                                        </a>
                                        <a class="">
                                            <i class="fa fa-plus fa-2x">&nbsp;</i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        }
                    }
                }
            </div>
        }
    </div>

</div>